@import "../../../sass/mixins";
@import "../../../sass/variables";

.banter-logo {
  width: 40px;
  height: 40px;
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $font-family;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  align-items: center;
  margin-left: 10px;
}

.flex-icon-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 70%;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 5px 0 5px 0;

  &:hover {
    background-color: #162d40;
    border-radius: 70px;
    color: #1da1f2;
    cursor: pointer;
  }
}

.account-bottom {
  margin-top: 60px;
}
