@import "./mixins";
@import "./variables";
@import "./animations";
@import "./breakpoint";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-start {
  @include banter-flex-start;
  padding: 10px;
}

.flex-start-account {
  @include banter-flex-start;
  cursor: pointer;
}

.flex-start-banter {
  @include banter-flex-start;
}

.primary-color {
  color: $primary-color;
}

.font-white {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  white-space: pre-wrap;
  color: $primary-color;
}

.link {
  color: white;
}

.banter-button-container {
  margin-top: 20px;
}

#banter-button {
  width: 200px;
  height: 50px;
  background-color: $secondary-color;
  color: $primary-color;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  @include FONT;
  font-size: 1rem;
}

#banter-button:focus {
  outline: none;
}

.avatar {
  width: 35px !important;
  height: 35px !important;
  @include avatar-image;
}

.avatar-banter {
  width: 50px !important;
  @include avatar-image;
}

.avatar-banter-menu {
  width: 30px !important;
  height: 30px !important;
  @include avatar-image;
}

.avatar-banter-bant {
  @include avatar-image;
}

.account-bottom {
  margin-top: 60px;
}

.secondary-color {
  color: $secondary-color;
}

.bantext {
  white-space: pre-wrap;
  font-weight: 600;
}

.account-bottom-banter:hover {
  background-color: #1c2732;
}

.nameHandle-container-account {
  margin-top: 10px;
}

.nameHandle-container {
  margin: 6px 0 0 -10px;
}

.nameHandle-container-banter {
  margin: -18px 0 0 -10px;
}

#name {
  @include FONT;
  font-size: 1rem;
  color: white;
  line-height: 1rem;
}

#handle {
  @include FONT;
  font-size: 0.9rem;
  color: grey;
}

#date-handle {
  @include FONT;
  font-size: 0.9rem;
  color: grey;
  margin-top: -10px;
}

.handle-container {
  margin-top: -15px;
  #handle {
    @include FONT;
    font-size: 0.9rem;
    color: grey;
    line-height: 2rem;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 30% 0 0 20px;
  left: 44%;
  @include loader;
}

#show-modal {
  @include overlay;
  @include flex;
  height: 100vh;
  position: fixed;
  z-index: 7;
  padding: 70px 0 20px 0;
  overflow-y: hidden;
}

#show-modal-picture {
  @include overlay;
  @include flex;
  height: 100vh;
  position: fixed;
  z-index: 7;
  overflow-y: scroll;
  overflow-x: hidden;

  .picture-view {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    position: fixed;
    color: white;
    left: 0;
    top: 0;
  }

  .picture-container {
    width: 100%;
    color: white;

    .cancel {
      width: 50px;
      height: 50px;
      z-index: 9;
    }

    .flex-between {
      @include flex-between;
      padding: 20px 30px 0 30px;
      color: white;
      cursor: pointer;

      .right-icon {
        font-size: 1.2rem;
        z-index: 9;
        background-color: rgb(75, 72, 75);
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .image-cnt {
    width: 100%;
    height: 100vh;
    background-color: rgb(92, 92, 128);
    opacity: 0.92;
    overflow: hidden;
    position: absolute;
    top: 0;

    img {
      width: 100%;
      height: 90%;
      object-fit: contain;
      z-index: 1000;
    }

    .flex {
      @include flex;
      gap: 100px;
      font-size: 1.2rem;
      margin-top: 20px;
    }
  }
}

.banter-view {
  width: 25vw;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $background-color;

  .flex-start-account {
    margin-left: 10px;
    .avatar {
      width: 50px;
      height: 50px;
    }

    .dots {
      margin-left: 100px;
      color: #8394a1;
    }
  }

  .banter-text {
    font-weight: 500;
    color: $primary-color;
    font-size: 1rem;
    margin-left: 10px;
  }

  .base-info {
    width: 100%;
    margin: 0 20px 10px 10px;
    padding-bottom: 15px;
    color: #8394a1;
    font-size: 1rem;
    border-bottom: 0.1px solid rgb(90, 89, 89);
  }

  .flex {
    @include flex;
    gap: 70px;
    cursor: pointer;
    font-size: 1.3rem;
    color: #8394a1;
    padding-bottom: 20px;
    border-bottom: 0.1px solid rgb(90, 89, 89);
  }

  .replies {
    padding: 10px;
    border-bottom: 0.1px solid rgb(90, 89, 89);

    .actions-container {
      @include flex;
      gap: 50px;

      .actions-flex-actions {
        @include flex;
        gap: 10px;
      }
    }

    .reply-to {
      color: #8394a1;
      margin: -15px 0 0 55px;
      font-size: 1rem;

      #reply-handle {
        color: $secondary-color;
      }
    }

    .flex-between-replies {
      @include flex;
      margin: 20px 5px 0 -5px;
      gap: 20px;
    }

    .dots {
      margin: -35px 0 0 120px;
      cursor: pointer;
      color: #8394a1;
    }
  }

  .text-handle {
    width: 100px;
    white-space: nowrap;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -20px;
  }
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.banter-view-container {
  margin-top: 30px;
  position: absolute;

  #account-bottom-banter {
    padding: 30px 40px 0 10px;

    .media-full {
      @include media-container;
      grid-template-columns: repeat(1, 1fr);
      .media-container:nth-child(1) {
        background-color: darkolivegreen;
      }
    }

    .media-container {
      width: 100%;
      max-height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.media-three {
  @include media-container;
  grid-template-columns: repeat(2, 1fr);

  .media-container:nth-child(1) {
    grid-row: 1 / span 2;
    background-color: yellow;
  }
  .media-container:nth-child(2) {
    background-color: pink;
  }
  .media-container:nth-child(3) {
    background-color: yellowgreen;
  }
}

.media-two {
  @include media-container;
  grid-template-columns: repeat(2, 1fr);
  .media-container:nth-child(1) {
    background-color: green;
  }
  .media-container:nth-child(2) {
    background-color: pink;
  }
  .media-container:nth-child(3) {
    background-color: yellowgreen;
  }
  .media-container:nth-child(4) {
    background-color: white;
  }
}

.media-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.account-bottom-banter-rightbar {
  padding-left: 15px;
}

.base-info {
  margin: 20px 20px 20px 10px;
  padding-bottom: 15px;
  color: #8394a1;
  font-size: 1rem;
  border-bottom: 0.1px solid rgb(90, 89, 89);
}

.close-image {
  position: absolute;
  margin: 10px 0 0 10px;
  @include flex;
  width: 40px;
  border-radius: 50px;
  height: 40px;
  font-size: 1.2rem;
  background-color: rgb(31, 30, 31);
  opacity: 0.7;
  color: white;
  cursor: pointer;
}

.nh {
  white-space: nowrap;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}
