@import "../../sass/mixins";
@import "../../sass/variables";

.no-mobile {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  text-align: center;
  font-size: 1rem;
  flex-direction: column;
}

.layout {
  @include flex;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  .left-side-bar {
    background-color: $background-color;
    //background-color: red;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 25vw;
    border-right: 0.1px solid $border-color;
    padding: 20px 20px 20px 30px;
  }
  .main-bar {
    background-color: $background-color;

    height: 100vh;
    width: 45vw;
  }
  .right-side-bar {
    background-color: $background-color;
    //background-color: green;
    border-left: 0.1px solid $border-color;
    height: 100vh;
    width: 30vw;
    position: sticky;
    top: 0;
    right: 0;
    padding: 20px;
  }
}
