.landing {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 19, 66);
}

.first {
  background-color: rgb(8, 59, 100);
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Roboto";

  color: rgb(8, 59, 100);
}

.slanted {
  background-color: #ffffff;
  height: 500px;
  padding: 50px;
  list-style: 3rem;
  font-size: 6rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 66%, 0 100%);
}

.base-desc {
  margin: -150px 0 0 10px;
}

.second {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 50px;
  overflow: hidden;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

p {
  font-size: 1.1rem;
  font-family: "roboto";
}

.authContainer {
  width: 90%;
  border-radius: 10px;
  box-shadow: -1px 1px 8px 2px rgb(235, 240, 250);
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  flex-direction: column;
  gap: 10px;
}

label {
  float: left;
}

.base-text {
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: -15px;
}

.ring {
  width: 200px;
  height: 200px;
  top: -10%;
  right: -10%;
  position: absolute;
  background: transparent;
  border: 30px rgb(239, 241, 243) solid;
  border-radius: 50%;
  opacity: 0.3;
}

.ring-two {
  width: 200px;
  height: 200px;
  top: -10%;
  left: -10%;
  position: absolute;
  background: transparent;
  border: 30px rgb(239, 241, 243) solid;
  opacity: 0.3;
  border-radius: 50%;
}

.ring-three {
  width: 200px;
  height: 200px;
  bottom: 10%;
  left: -10%;
  position: absolute;
  background: transparent;
  border: 30px rgb(239, 241, 243) solid;
  opacity: 0.1;
  margin-top: -30%;
  transform: rotate(40deg);
}

#triangle-right {
  width: 0;
  height: 0;
  bottom: 25;
  position: absolute;
  border-top: 50px solid transparent;
  border-left: 100px solid rgb(246, 248, 250);
  border-bottom: 50px solid transparent;
  opacity: 0.08;
  margin: 3% 0 0 50%;
  animation: pulse 5s infinite;
}

#triangle-rights {
  width: 0;
  height: 0;
  bottom: 10;
  border-top: 70px solid transparent;
  border-right: 140px solid rgb(246, 248, 250);
  border-bottom: 70px solid transparent;
  opacity: 0.08;
  margin: -8% 0 0 35%;
  transform: rotate(40deg);
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0%,
  100% {
    border-left: 100px solid rgb(246, 248, 250);
  }
  50% {
    border-left: 100px solid rgb(44, 122, 201);
  }
}

.base-texts {
  font-size: 1rem;
  cursor: pointer;
  color: rgb(56, 55, 55);
}

.form {
  width: 100%;
}

@media screen and (max-width: 1050px) {
  .landing {
    flex-wrap: wrap-reverse;
  }

  .second {
    padding: 30px;
  }

  .first {
    display: none;
  }
  .ring {
    display: none;
  }
}

@media screen and (max-width: 320px) {
}
