* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #15202b;
}

.home-container .leftsidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh;
  background-color: red;
}

.home-container .leftsidebar .f {
  height: 100vh;
  width: 100%;
  padding: 10px 20px 20px 40px;
  background-color: #15202b;
  border-right: 0.1px solid #5a5959;
}

.home-container .leftsidebar .f .logo {
  font-family: Roboto;
  margin-left: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.home-container .mainbar {
  width: 45vw;
  background-color: blueviolet;
  margin-left: -50px;
}

.home-container .mainbar .s {
  width: 100%;
  position: relative;
  background-color: #15202b;
}

.home-container .mainbar .s .banter-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0 20px 0 20px;
  font-family: Roboto;
  font-size: 1.2rem;
  height: 50px;
  width: 43.7vw;
  background-color: #15202b;
  border-bottom: 0.1px solid #5a5959;
  position: fixed;
  left: 25vw;
  cursor: pointer;
  z-index: 4;
}

.home-container .mainbar .s .create-banter-container {
  padding: 60px 20px 10px 20px;
  border-bottom: 0.1px solid #5a5959;
}

.home-container .mainbar .s .create-banter-container .banter-input-container {
  margin: 30px 0 20px 0;
  width: 500px;
  border: none;
  color: #8394a1;
  white-space: pre-line;
  max-height: 400px;
  overflow: auto;
  font-size: 1.1rem;
}

.home-container .mainbar .s .create-banter-container .banter-input-container textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: whitesmoke;
}

.home-container .mainbar .s .create-banter-container .banter-input-container textarea:focus {
  outline: none;
}

.rightsidebar {
  position: relative;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  background-color: black;
}

.rightsidebar .t {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
  height: 100vh;
  background-color: #15202b;
  border-left: 0.1px solid #5a5959;
  padding: 5px 60px 10px 30px;
}

.rightsidebar .t .search-container {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background-color: #253341;
  padding: 0 10px 0 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.rightsidebar .t .search-container .search-input-container {
  margin-right: 5px;
  overflow: hidden;
  width: 100%;
}

.rightsidebar .t .search-container input {
  color: #a1aca6;
  font-size: 1rem;
  width: 240px;
  border: none;
  background: transparent;
}

.rightsidebar .t .search-container input:focus {
  outline: none;
}

.rightsidebar .t .search-container .search-icon {
  font-size: 1rem;
  color: #a1aca6;
}

.rightsidebar .t .search-container .search-close-container {
  background-color: #1da1f2;
  border-radius: 50px;
  padding: 1px 5px 1px 5px;
  cursor: pointer;
}

.rightsidebar .t .search-container .search-close-container .search-close-icon {
  font-size: 0.8rem;
  font-weight: bold;
}

.trend-container {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  margin-top: 15px;
  background-color: #192734;
  overflow: hidden;
}

.relevant-container {
  width: 100%;
  border-radius: 15px;
  margin-top: 15px;
  background-color: #192734;
  overflow: hidden;
}

.trend-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  font-family: Roboto;
  font-size: 1.3rem;
  color: #fff;
  border-bottom: 0.1px solid #5a5959;
  cursor: pointer;
}

.banted-footer {
  text-align: center;
  color: gray;
  font-family: Roboto;
}

.search-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.search-flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px;
}

.flex-start-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
}

.flex-start-banter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 1.3rem;
  font-weight: 700;
}

.primary-color {
  color: #fff;
}

.font-white {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  white-space: pre-wrap;
  color: #fff;
}

.flex-start:hover {
  background-color: #162d40;
  border-radius: 70px;
  color: #1da1f2;
  cursor: pointer;
}

.link {
  color: white;
}

.link:hover {
  color: black;
}

.selected {
  color: #1da1f2;
}

.banter-button-container {
  margin-top: 20px;
}

#banter-button {
  width: 200px;
  height: 50px;
  background-color: #1da1f2;
  color: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-size: 1rem;
}

#banter-button:focus {
  outline: none;
}

.avatar {
  width: 35px !important;
  height: 35px !important;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #1da1f2;
  margin-top: 5px;
  cursor: pointer;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-banter {
  width: 60px !important;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #1da1f2;
  margin-top: 5px;
  cursor: pointer;
  overflow: hidden;
}

.avatar-banter img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-banter-bant {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #1da1f2;
  margin-top: 5px;
  cursor: pointer;
  overflow: hidden;
}

.avatar-banter-bant img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.account-bottom {
  margin-top: 60px;
}

.banter-spacer {
  height: 10px;
  width: 100%;
  background-color: #192734;
  border-bottom: 0.1px solid #5a5959;
}

.account-bottom-banter {
  padding: 10px 40px 0 20px;
  border-bottom: 0.1px solid #5a5959;
  cursor: pointer;
}

.account-bottom-banter .banter-text {
  margin: -25px 0 0 63px;
  color: #fff;
  font-weight: 400;
  white-space: pre-wrap;
}

.account-bottom-banter .banter-text .displays {
  height: 275px;
  width: 100%;
  background-color: rebeccapurple;
}

.account-bottom-banter .banter-text .media-full {
  height: 300px;
  background-color: #162d40;
  border-radius: 10px;
  margin: -5px 0 15px 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  overflow: hidden;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.account-bottom-banter .banter-text .media-full .media-container:nth-child(1) {
  background-color: #788660;
}

.account-bottom-banter .banter-text .media-two {
  height: 300px;
  background-color: #162d40;
  border-radius: 10px;
  margin: -5px 0 15px 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  overflow: hidden;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.account-bottom-banter .banter-text .media-two .media-container:nth-child(1) {
  background-color: red;
}

.account-bottom-banter .banter-text .media-two .media-container:nth-child(2) {
  background-color: brown;
}

.account-bottom-banter .banter-text .media-two .media-container:nth-child(3) {
  background-color: yellowgreen;
}

.account-bottom-banter .banter-text .media-two .media-container:nth-child(4) {
  background-color: white;
}

.account-bottom-banter .banter-text .media-three {
  height: 300px;
  background-color: #162d40;
  border-radius: 10px;
  margin: -5px 0 15px 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  overflow: hidden;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.account-bottom-banter .banter-text .media-three .media-container:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  background-color: yellow;
}

.account-bottom-banter .banter-text .media-three .media-container:nth-child(2) {
  background-color: pink;
}

.account-bottom-banter .banter-text .media-three .media-container:nth-child(3) {
  background-color: yellowgreen;
}

.account-bottom-banter .banter-text .media-container {
  width: 100%;
  height: 100%;
  background-color: #1da1f2;
}

.account-bottom-banter .banter-text .media-container img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.account-bottom-banter .action-top-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: gray;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 30px;
  font-weight: 500;
}

.account-bottom-banter .actions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 80px;
  margin: -7px 0 5px 0;
  cursor: pointer;
}

.account-bottom-banter .actions-container .action-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-size: 1rem;
}

.account-bottom-banter .actions-container .action-flex .icon-action:hover {
  border-radius: 50px;
  background-color: #15202b;
  padding: 0 3px 0 3px;
  text-align: center;
  color: #1da1f2;
}

.account-bottom-banter .actions-container .action-flex .icon-action-like:hover {
  border-radius: 50px;
  background-color: #302737;
  padding: 0 3px 0 3px;
  text-align: center;
  color: #d5245c;
}

.account-bottom-banter .actions-container .action-flex .icon-action-rebant:hover {
  border-radius: 50px;
  background-color: #1b3f3a;
  padding: 0 3px 0 3px;
  text-align: center;
  color: #1da1f2;
  color: #17bf63;
}

.account-bottom-banter .actions-container .action-flex .count {
  color: grey;
  font-size: 15px;
}

.secondary-color {
  color: #1da1f2;
}

.bantext {
  white-space: pre-wrap;
  font-weight: 600;
}

.account-bottom-banter:hover {
  background-color: #1c2732;
}

.nameHandle-container-account {
  margin-top: 10px;
}

.nameHandle-container {
  margin: 6px 0 0 -10px;
}

.nameHandle-container-banter {
  margin: -18px 0 0 -10px;
}

#name {
  font-family: Roboto;
  font-size: 1rem;
  color: white;
  line-height: 1rem;
}

#handle {
  font-family: Roboto;
  font-size: 0.9rem;
  color: grey;
}

.handle-container {
  margin-top: -15px;
}

.handle-container #handle {
  font-family: Roboto;
  font-size: 0.9rem;
  color: grey;
  line-height: 2rem;
}

.dots {
  margin: -20px 0 0 50px;
  color: #fff;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #15202b;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 30%;
  left: 44%;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 8px;
  border: 4px solid #1da1f2;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1da1f2 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#show-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 100px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: fixed;
  z-index: 7;
  padding: 70px 0 20px 0;
  overflow-y: hidden;
}

#show-modal-compose {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 100px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: fixed;
  z-index: 7;
  scrollbar-width: 0;
}

#show-modal-compose .picture-view {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  color: white;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 40px;
}

#show-modal-compose .picture-view .compose {
  width: 600px;
  max-height: 600px;
  background-color: #15202b;
  border-radius: 15px;
}

#show-modal-compose .picture-view .compose .main-compose {
  padding: 10px 20px 10px 20px;
}

#show-modal-compose .picture-view .compose .main-compose .flex-start-banter .avatar-banter {
  width: 65px;
  height: 55px;
}

#show-modal-compose .picture-view .compose .banter-text {
  margin: -23px 0 0 67px;
}

#show-modal-compose .picture-view .compose .banter-text .bantext {
  overflow: hidden;
}

#show-modal-compose .picture-view .compose .banter-text .reply-to {
  margin-top: 20px;
  color: #748491;
  font-size: 1.1rem;
}

#show-modal-compose .picture-view .compose .banter-text .reply-to #reply-handle {
  color: #1da1f2;
}

#show-modal-compose .picture-view .compose #compose-edit {
  font-size: 1rem;
}

#show-modal-compose .picture-view .compose .close {
  padding: 10px 10px 10px 20px;
  font-size: 1.3rem;
  color: #1da1f2;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 0.1px solid #5a5959;
}

#show-modal-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 100px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: fixed;
  z-index: 7;
  overflow-y: scroll;
  overflow-x: hidden;
}

#show-modal-picture .picture-view {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  color: white;
  left: 0;
  top: 0;
}

#show-modal-picture .picture-container {
  width: 100%;
  color: white;
}

#show-modal-picture .picture-container .cancel {
  width: 50px;
  height: 50px;
  z-index: 9;
}

#show-modal-picture .picture-container .flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px 0 30px;
  color: white;
  cursor: pointer;
}

#show-modal-picture .picture-container .flex-between .right-icon {
  font-size: 1.2rem;
  z-index: 9;
  background-color: #4b484b;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#show-modal-picture .image-cnt {
  width: 100%;
  height: 100vh;
  background-color: #5c5c80;
  opacity: 0.92;
  overflow: hidden;
  position: absolute;
  top: 0;
}

#show-modal-picture .image-cnt img {
  width: 100%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1000;
}

#show-modal-picture .image-cnt .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  font-size: 1.2rem;
  margin-top: 20px;
}

.banter-view {
  width: 25vw;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #15202b;
}

.banter-view .flex-start-account {
  margin-left: 10px;
}

.banter-view .flex-start-account .avatar {
  width: 50px;
  height: 50px;
}

.banter-view .flex-start-account .dots {
  margin-left: 100px;
  color: #8394a1;
}

.banter-view .banter-text {
  font-weight: 500;
  color: #fff;
  font-size: 1rem;
  margin-left: 10px;
}

.banter-view .base-info {
  margin: 0 20px 10px 10px;
  padding-bottom: 15px;
  color: #8394a1;
  font-size: 1rem;
  border-bottom: 0.1px solid #5a5959;
}

.banter-view .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
  cursor: pointer;
  font-size: 1.3rem;
  color: #8394a1;
  padding-bottom: 20px;
  border-bottom: 0.1px solid #5a5959;
}

.banter-view .replies {
  padding: 10px;
  border-bottom: 0.1px solid #5a5959;
}

.banter-view .replies .actions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.banter-view .replies .actions-container .actions-flex-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.banter-view .replies .reply-to {
  color: #8394a1;
  margin: -10px 0 0 55px;
  font-size: 1rem;
}

.banter-view .replies .reply-to #reply-handle {
  color: #1da1f2;
}

.banter-view .replies .flex-start-banter .avatar-banter {
  width: 50px;
  height: 50px;
}

.banter-view .replies .flex-between-replies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 5px 0 -5px;
  gap: 20px;
}

.banter-view .replies .dots {
  margin: -45px 0 0 120px;
  cursor: pointer;
  color: #8394a1;
}

.banter-view .text-handle {
  width: 100px;
  white-space: nowrap;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.image-banter {
  height: 290px;
  width: 560px;
  background-color: red;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.banter-view-container {
  margin-top: 30px;
  position: absolute;
}

.banter-view-container #account-bottom-banter {
  padding: 30px 40px 0 10px;
}

.banter-view-container #account-bottom-banter .media-full {
  height: 300px;
  background-color: #162d40;
  border-radius: 10px;
  margin: -5px 0 15px 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  overflow: hidden;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.banter-view-container #account-bottom-banter .media-full .media-container:nth-child(1) {
  background-color: darkolivegreen;
}

.banter-view-container #account-bottom-banter .media-container {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.banter-view-container #account-bottom-banter .media-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banter-view-container #account-bottom-banter .action-top-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: #8394a1;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 500;
}

.banter-view-container #account-bottom-banter .actions-container-base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 0.1px solid #5a5959;
  gap: 140px;
  width: 45vw;
  margin: 10px 0 5px -10px;
  padding: 0 0 5px 30px;
}

.banter-view-container #account-bottom-banter .actions-container-base .action-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-size: 1.1rem;
  color: #8394a1;
}

.banter-view-container #account-bottom-banter .actions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 80px;
  width: 100%;
}

.banter-view-container #account-bottom-banter .actions-container .action-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 1.1rem;
  color: #8394a1;
}

.media-three {
  height: 300px;
  background-color: #162d40;
  border-radius: 10px;
  margin: -5px 0 15px 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  overflow: hidden;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.media-three .media-container:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  background-color: yellow;
}

.media-three .media-container:nth-child(2) {
  background-color: pink;
}

.media-three .media-container:nth-child(3) {
  background-color: yellowgreen;
}

.media-two {
  height: 300px;
  background-color: #162d40;
  border-radius: 10px;
  margin: -5px 0 15px 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
  overflow: hidden;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.media-two .media-container:nth-child(1) {
  background-color: green;
}

.media-two .media-container:nth-child(2) {
  background-color: pink;
}

.media-two .media-container:nth-child(3) {
  background-color: yellowgreen;
}

.media-two .media-container:nth-child(4) {
  background-color: white;
}

.media-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.media-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-banter {
  margin-top: 200px;
  font-family: Roboto;
  font-size: 1.3rem;
  text-align: center;
  margin-left: -20px;
  color: grey;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #15202b;
}

.home-container .leftsidebar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 5vw;
  height: 100vh;
  background-color: red;
}

.home-container .leftsidebar-mobile .f {
  height: 100vh;
  width: 100%;
  padding: 10px 0 20px 10px;
  background-color: #15202b;
  border-right: 0.1px solid #5a5959;
}

.home-container .leftsidebar-mobile .f .logo {
  font-family: Roboto;
  margin-left: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.home-container .leftsidebar-mobile .f .flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.home-container .leftsidebar-mobile .f .flex-start .tooltiptext {
  font-size: 1rem;
  margin: -30px 0 0 20px;
}

.home-container .leftsidebar-mobile .f .flex-start:hover {
  background-color: #162d40;
}

.account-bottom-banter-rightbar {
  padding-left: 15px;
}

.base-info {
  margin: 20px 20px 20px 10px;
  padding-bottom: 15px;
  color: #8394a1;
  font-size: 1rem;
  border-bottom: 0.1px solid #5a5959;
}

.close-image {
  position: absolute;
  margin: 10px 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  border-radius: 50px;
  height: 40px;
  font-size: 1.2rem;
  background-color: #1f1e1f;
  opacity: 0.7;
  color: white;
  cursor: pointer;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.yt-loader {
  -webkit-animation-name: horizontalProgressBar;
  animation-name: horizontalProgressBar;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  background: #1da1f2;
  height: 3px;
  left: 0;
  top: 0;
  width: 0%;
  z-index: 9999;
  position: relative;
}

.yt-loader:after {
  display: block;
  position: absolute;
  content: "";
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: #1da1f2 1px 0 6px 1px;
          box-shadow: #1da1f2 1px 0 6px 1px;
  opacity: 0.5;
}

@-webkit-keyframes horizontalProgressBar {
  0% {
    width: 0%;
  }
  20% {
    width: 10%;
  }
  30% {
    width: 15%;
  }
  40% {
    width: 18%;
  }
  50% {
    width: 20%;
  }
  60% {
    width: 22%;
  }
  100% {
    width: 100%;
  }
}

@keyframes horizontalProgressBar {
  0% {
    width: 0%;
  }
  20% {
    width: 10%;
  }
  30% {
    width: 15%;
  }
  40% {
    width: 18%;
  }
  50% {
    width: 20%;
  }
  60% {
    width: 22%;
  }
  100% {
    width: 100%;
  }
}

.dropdown-banter {
  right: 0;
  background-color: #15202b;
  position: absolute;
  z-index: 200;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(99, 96, 96, 0.2);
          box-shadow: 0px 4px 16px 0px rgba(99, 96, 96, 0.2);
  margin: -15px 38px 0 -10px;
}

.dropdown-banter .option-container {
  width: 100%;
  padding: 10px;
}

.dropdown-banter .option-container:hover {
  background-color: #1c2732;
}

.dropdown-profile {
  right: 0;
  background-color: #15202b;
  position: absolute;
  z-index: 200;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(99, 96, 96, 0.2);
          box-shadow: 0px 4px 16px 0px rgba(99, 96, 96, 0.2);
  width: 270px;
  margin: -200px 50px 0 100px;
}

.dropdown-profile:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 10px #15202b;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.dropdown-retweet {
  right: 0;
  background-color: #15202b;
  position: absolute;
  z-index: 200;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(99, 96, 96, 0.2);
          box-shadow: 0px 4px 16px 0px rgba(99, 96, 96, 0.2);
  margin: 0 320px 0 0;
}

.dropdown-retweet .option-container {
  width: 100%;
  padding: 10px;
}

.dropdown-retweet .option-container:hover {
  background-color: #1c2732;
}

.blue {
  color: #1da1f2;
}

#base-bottom {
  margin-top: -25px;
  padding: 0 10px 10px 10px;
}

#base-bottom:hover {
  background-color: #1c2732;
}

.prof {
  margin-left: 10px;
}

#dots {
  margin-top: -60px;
  color: #8394a1;
}

#dots:hover {
  color: #1da1f2;
}

.create-banter-base {
  margin: 10px 10px 0 61px;
}

.create-banter-base .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-family: Roboto;
  font-size: 1.3rem;
  color: #1da1f2;
  cursor: pointer;
}

.create-banter-base .flex #desc {
  font-size: 0.9rem;
}

.create-banter-base button {
  width: 80px;
  height: 30px;
  background-color: #1da1f2;
  color: #fff;
  border-radius: 50px;
  border: none;
  font-family: Roboto;
  font-size: 0.9rem;
  cursor: pointer;
}

.create-banter-base button:focus {
  outline: none;
}

.line {
  width: 3px;
  height: 60px;
  position: absolute;
  background-color: #5a5959;
  margin: 130px 0 0 25px;
}
/*# sourceMappingURL=main.css.map */