* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.landing-container {
  height: 95vh;
  background-color: rgba(4, 4, 56, 0.986);
  padding: 0 10px 0 10px;
  overflow-y: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -50px;
  height: 95vh;
  width: 50vw;
}

.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
}

.spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
}

.large-text {
  font-family: Roboto;
  font-size: 5rem;
  color: white;
  line-height: 1rem;
}

.medium-text {
  font-family: Roboto;
  font-size: 1.7rem;
  color: #d6d0d0;
}

.medium-text-secondary {
  font-family: Roboto;
  font-size: 1.7rem;
  color: rgba(4, 4, 56, 0.986);
}

.auth-container {
  -webkit-box-shadow: rgba(79, 79, 79, 0.07) 0px 4px 10px;
          box-shadow: rgba(79, 79, 79, 0.07) 0px 4px 10px;
  background-color: white;
  -webkit-transition: width 100ms ease-in-out;
  transition: width 100ms ease-in-out;
  top: 0;
  right: 0;
  width: 100%;
  padding-top: 30px;
  z-index: 5;
  border-radius: 5px;
  border-top: 5px solid #1da1f2;
}

#icon {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Roboto;
  cursor: pointer;
  color: #15202b;
}

.particles {
  height: 95vh;
}

.flex-landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: -10px;
}

.button-landing {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #1da1f2;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
}

.button-landing:hover {
  background-color: #fff;
  color: #1da1f2;
}

.button-landing:focus {
  outline: none;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.register {
  overflow-x: hidden;
}

.overlay-container {
  position: relative;
  height: 95vh;
}

.overlay-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 50px 0 70px;
}

.overlay-container #show-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 50px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  z-index: 7;
  padding: 0 0 70px 0;
  overflow-y: hidden;
}

#link {
  color: #15202b;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .two {
    width: 100%;
  }
  .one {
    width: 100vw;
  }
  .spacer {
    display: none;
  }
  .large-text {
    font-size: 3rem;
  }
  .medium-text {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=landing.css.map */