@import "../../../../../sass/mixins";
@import "../../../../../sass/variables";
@import "../../../../../sass/animations";

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 30% 0 0 5px;
  left: 44%;
  @include loader;
}

.preloader-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  @include loader;
}

.icon-action {
  .action-tooltip {
    @include custom-tooltip;
  }
}

.timeline-dropdown-banter {
  @include custom-menu-dropdown;
  width: 250px;
}

.timeline-dropdown-rebant {
  @include custom-menu-dropdown;
  width: 150px;
}

#delete {
  color: rgb(238, 34, 34);
}

.no-banter {
  margin-top: 200px;
  @include FONT;
  font-size: 1.3rem;
  text-align: center;
  margin-left: -20px;
  color: grey;
}
