@import '~antd/dist/antd.css';

.avatar {
  float: left;
  left: 20;
  margin-top: 100;
}


.bant {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

#bantImage {
  padding: 5px;
  margin-left: 128px;
}

#icons {
  margin-left: 133px;
}

.scroll {
  overflow-y: scroll;
  height: 800px;
  width: 800px;
  padding: 1rem
}

.imageContainer {
  margin: 10px;
  width: 400px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: start;
  align-content: space-around;
}

.register {
  display: grid;
  place-content: center;
  margin: 150px 0 150px 0;
}

.login {
  display: grid;
  place-content: center;
  margin: 150px 0 150px 0;
}

#reg-image {
  margin: 50px 0 0 100px;
}

.side {
  background-color: rgb(16, 2, 49);
  position: fixed;
  width: 100%;
  height: 100%;
}

.first-side {
  margin: 50px 0 0 30px;
}

li {
  list-style-type: none;
  margin-top: 50px;
}

.menu {
  font-weight: bold;
  font-size: 25px;
  margin-top: 70px;
  color: white;
}

#btn {
  height: 50px;
  width: 70px;
}